<!-- barra di navigazione -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DDD and UX Design</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/crud">CRUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/domain">Domain</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">State</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Authorization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Helper</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- footer fisso -->

<div class="container">
    <router-outlet></router-outlet>
</div>

    <!-- footer fisso -->

    <nav class="navbar fixed-bottom navbar-light bg-light" >
        <div class="w-100 d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <a href="https://www.linkedin.com/in/paologalfione/" class=""><i class="bi-linkedin"></i></a>
                <span class="text-muted p">Paolo Galfione</span>
                <a href="https://www.zucchetti.it/" class="ms-10">Zucchetti Spa</a>
            </div>
            <div class="p-2 bd-highlight">
                <a href="https://github.com/paolo-galfione/DDD-UX-Design" class=""><i class="bi-github"></i></a>
                <span class="text-muted p">GitHub (2022)</span>
            </div>
        </div>
</nav>